body {
  margin-top: 0;
  margin-bottom: 0;
  zoom: 1;
  max-width: 100%;
  width: 1400px;
  margin-left: auto;
  margin-right: auto;
}

a {
  text-decoration: none;
  color: var(--text-color);
}

/* ---------- color ---------- */
:root {
  --main-color: #00adb5;
}

/* ----------- header ---------- */
header {
  background-color: var(--main-color);
  display: flex;
  justify-content: space-between;
  padding: 0px 80px;
  font-size: 14px;
  align-items: center;
}

.header_left {
  display: flex;
  align-items: center;
}

.header_title a {
  display: flex;
  margin-right: 10px;
}

header img {
  width: 50px;
}

/* nav */
.header_nav ul {
  list-style: none;
  background-color: var(--main-color);
  text-align: center;
  padding: 0;
  border-radius: 5px;
}

nav li {
  line-height: 35px;
  font-size: 14px;
  display: inline-block;
}

nav a {
  display: block;
  margin: 0px;
  padding: 0px 16px;
  transition: 0.3s background-color;
  border-radius: 5px;
}

nav a:hover {
  background-color: #fde49c;
}

/* nav drop down */
nav li li {
  font-size: 11px;
}

nav li ul {
  position: absolute;
  display: none;
}

nav li:hover ul {
  display: block;
  background-color: rgb(255, 255, 255);
  border: 1px solid #ffb740;
  border-top: none;
  width: 85px;
}

nav li ul li {
  display: block;
}

/* login */
.header_login {
  list-style: none;
  display: flex;
  text-align: end;
}

.header_login li {
  padding: 6px 10px;
}

.header_login :nth-child(3) {
  border-radius: 5px;
  margin-left: 10px;
  background-color: #ffb740;
}

/* ---------- footer ---------- */
footer {
  background-color: rgb(238, 238, 238);
  font-size: 13px;
  color: rgb(80, 79, 79);
  padding-left: 50px;
}

.footer_div1_list {
  list-style: none;
  display: flex;
  justify-content: left;
  padding-top: 15px;
}

.footer_div1_list li {
  padding: 0px 10px;
}

.footer_div2_list {
  margin: 0px;
  padding: 0px 43px;
  list-style: none;
  display: flex;
  justify-content: space-between;
}

/* ---------- main ---------- */
.main_section {
  display: flex;
  justify-content: space-between;
  margin: 50px 170px 0px 170px;
}

.main_section_btn div {
  display: flex;
  margin: 5px 9px;
}

.main_section_btn1,
.main_section_btn2,
.main_section_btn3,
.main_section_btn4 {
  border-radius: 15px;
  font-size: 19px;
  font-weight: bolder;
}

.main_section_btn1 {
  background-color: #64c9cf;
  padding: 60px 33px;
}

.main_section_btn2 {
  background-color: #fde49c;
  padding: 60px 24px;
}

.main_section_btn3 {
  background-color: #ffb740;
  padding: 60px 40px;
}

.main_section_btn4 {
  background-color: #00adb5;
  padding: 60px 36px;
}

#mform {
  position: relative;
  width: 515px;
  bottom: 205px;
  right: 50px;
}

#mform input {
  padding: 10px;
  font-size: 13px;
  border: 2px solid rgb(199, 199, 199);
  border-radius: 25px;
  box-sizing: border-box;
  width: 100%;
}

#mform button {
  border: none;
  padding: 10px;
  width: 70px;
  font-size: 13px;
  background-color: #00adb5;
  border-radius: 25px;
  color: rgb(41, 41, 41);
  font-weight: bolder;
  position: absolute;
  right: 0.5px;
  top: 0.5px;
}

#mform h4 {
  margin-left: 55px;
}

#mform p {
  font-size: 10px;
  margin-left: 55px;
}

.main_section_search img {
  width: 380px;
  border-radius: 5px;
  opacity: 0.4;
  box-shadow: 10px 10px 10px #6d6d6d;
}
